*{
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 100% 150%, #3BC1AC 24%, #42D2BB 25%, #42D2BB 28%, #3BC1AC 29%, #3BC1AC 36%, #42D2BB 36%, #42D2BB 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #3BC1AC 24%, #42D2BB 25%, #42D2BB 28%, #3BC1AC 29%, #3BC1AC 36%, #42D2BB 36%, #42D2BB 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, #42D2BB 10%, #3BC1AC 11%, #3BC1AC 23%, #42D2BB 24%, #42D2BB 30%, #3BC1AC 31%, #3BC1AC 43%, #42D2BB 44%, #42D2BB 50%, #3BC1AC 51%, #3BC1AC 63%, #42D2BB 64%, #42D2BB 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #42D2BB 5%, #3BC1AC 6%, #3BC1AC 15%, #42D2BB 16%, #42D2BB 20%, #3BC1AC 21%, #3BC1AC 30%, #42D2BB 31%, #42D2BB 35%, #3BC1AC 36%, #3BC1AC 45%, #42D2BB 46%, #42D2BB 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, #42D2BB 5%, #3BC1AC 6%, #3BC1AC 15%, #42D2BB 16%, #42D2BB 20%, #3BC1AC 21%, #3BC1AC 30%, #42D2BB 31%, #42D2BB 35%, #3BC1AC 36%, #3BC1AC 45%, #42D2BB 46%, #42D2BB 49%, transparent 50%, transparent);;
    background-size:100px 50px ;
}
h1{
    text-transform: capitalize;
}
.content-wrapper{
    width: 40rem;
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
}
h1{
    padding: 1rem;
    background-color: orange;
    text-align: center;
    font-size: 4rem;
    
    
}
.synthesis{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}
.synthesis >*{
    width: 100%;
    font-size: 1.5rem;
    border: none;
}

select{
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: .3rem;
}

textarea{
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: .3rem;
}
.btns{
    display: flex;
    justify-content: space-around;
}
.btns button{
    background-color: orange;
    font-weight: bold;
    font-size: 2rem;
    width: 40%;
    padding: 1rem;
    border: none;
    border-radius: .3rem;
}
.btns button:hover{
    background-color: rgb(249, 223, 173);
    cursor: pointer;
}